{% extends 'mainapp/base.html' %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Ваша корзина {% if not cart.products.count %}пуста{% endif %}</h3>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
{% if cart.products.count %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Наименование товара</th>
      <th scope="col">Изображение</th>
      <th scope="col">Цена</th>
      <th scope="col">Кол-во</th>
      <th scope="col">Общая цена</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart.products.all %}
    <tr>
      <th scope="row">{{ item.product.title }}</th>
      <td class="w-25"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
      <td>{{ item.price }} руб.</td>
      <td>
          <form action="{% url 'change_qty_from_card'  slug=item.product.slug %}" method="post">
              {% csrf_token %}
              <input type="number" value="{{ item.quality }}" name="qty" class="form-control" style="width: 70px;" min="1">
              <br>
              <input type="submit" class="btn btn-primary" value="Изменить количество">
          </form>
      </td>
      <td>{{ item.total_price }}</td>
        <td><a href="{% url 'delete_from_card'  slug=item.product.slug %}"><button class="btn btn-danger">Удалить из корзины</button></a></td>
    </tr>
  {% endfor %}
  <tr>
      <td colspan="2"></td>
      <td>Итого:</td>
      <td>{{ cart.total_products }}</td>
      <td><strong>{{ cart.total_price }} руб.</strong></td>
      <td><a href="{% url 'checkout' %}"><button class="btn btn-primary">Перейти к оформлению заказа</button></a></td>
  </tr>
  </tbody>
</table>
{% endif %}

{% endblock content %}
