<table class="table">
  <tbody>
    <tr>
      <td>Диагональ: {{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Тип дисплея: {{ product.display }}</td>
    </tr>
        <tr>
        <td>Разрешение: {{ product.resolution }}</td>
        </tr>
        <tr>
        <td>Объём батареи: {{ product.accum_volume }}</td>
        </tr>
        <tr>
        <td>Оперативная память: {{ product.ram }}</td>
        </tr>
        <tr>
        <td>SD: {{ product.sd }}</td>
        </tr>
        <tr>
        <td>Макс. объём SD: {{ product.sd_volume }}</td>
        </tr>
        <tr>
        <td>Главная камера: {{ product.main_cam_mp }}</td>
        </tr>
        <tr>
        <td>Фронтальная камера: {{ product.frontal_cam_mp }}</td>
  </tr>
  </tbody>
</table>


